<div class="user-detail-container">
  <mat-card *ngIf="user()" class="user-card">
    <mat-card-header class="user-card-header">
      <mat-card-title>{{ user().name }}</mat-card-title>
      <mat-card-subtitle>{{ user().username }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="user-card-content">
      <div class="user-info-section">
        <mat-icon class="info-icon">email</mat-icon>
        <div>
          <span class="info-label">Email:</span>
          <span>{{ user().email }}</span>
        </div>
      </div>

      <div class="user-info-section">
        <mat-icon class="info-icon">phone</mat-icon>
        <div>
          <span class="info-label">Phone:</span>
          <span>{{ user().phone }}</span>
        </div>
      </div>

      <div class="user-info-section">
        <mat-icon class="info-icon">language</mat-icon>
        <div>
          <span class="info-label">Website:</span>
          <a
            [href]="'http://' + user().website"
            target="_blank"
            rel="noopener noreferrer"
            >{{ user().website }}</a
          >
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="user-info-section">
        <mat-icon class="info-icon">location_on</mat-icon>
        <div>
          <span class="info-label">Address:</span>
          <span
            >{{ user().address.street }}, {{ user().address.suite }},
            {{ user().address.city }}, {{ user().address.zipcode }}</span
          >
        </div>
      </div>

      <mat-divider></mat-divider>
      <div class="user-info-section">
        <mat-icon class="info-icon">business</mat-icon>
        <div>
          <span class="info-label">Company:</span>
          <span>{{ user().company.name }}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
